<header class="mod-header">
  <div class="layout-wrap">
    <h1>
      <a href="http://turing.io">Turing School of Software & Design</a>
    </h1>
    <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>
