@import "bootstrap";

html, body {
  background-color: #343333;
  margin: 10px;
  color: white;
}

#title {
  text-align: center;
}

#skill-logo {
  margin-top: 0px;
  text-align: center;
}

#login {
  text-align: right;
}

#login-form {
  text-align: center;
}

#today-date {
  text-align: center;
  margin-bottom: 5px;
}

.skill-title {
  font-size: 3em;
  padding-right: 10px;
  display: inline-block;
  margin-top: 20px;
}

.skill-list {
  list-style: none;
}
