@import "bootstrap";

html, body {
  background-color: #343333;
  margin: 10px;
  color: white;
}

#title {
  text-align: center;
}

#skill-logo {
  margin-top: 0px;
  text-align: center;
  font-family: "desdemona";
  font-size: 4em;
}

#login {
  text-align: right;
}

#login-form {
  text-align: center;
}

#today-date {
  text-align: center;
  margin-bottom: 5px;
}

#todays-classes {
  text-align: center;
  margin-bottom: 10px;
}

#class-list {
  margin-top: 20px;
}
