 <div class='text-center filter-title'><h1>All Skills</h1></div>

<div class="skill">
  {{#if session.currentUser}}
    {{#each}}
      {{skill-item skill=this user_id=session.currentUser.id section_id=skill-item.section_id}}
    {{/each}}
  {{else}}
    Please log-in to see skills.
  {{/if}}
</div>
