
<div class="container">
  {{!-- only display login button if not logged in --}}
  {{#link-to 'login' class="btn btn-primary pull-right"}}Login{{/link-to}}
  <div class="row">
    <div class="col-md-12">
      <div class="row text-center">
        <img src="/assets/images/skillinventorylogo.png"></img>
      </div>
      <hr>
    </div>
  </div>

  {{outlet}}

</div>
