{{#link-to 'login' class="btn btn-primary pull-right"}}Login{{/link-to}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 id="skill-logo">SKILL INVENTORY</h1>
      <hr>
      {{outlet}}
    </div>
  </div>
</div>
