<div class="skill">
<div class="text-center">
<h2>Filter Skills By</h2>
  {{#link-to 'skills.featured'}}Featured Skills{{/link-to}} |
  {{#link-to 'skills'}}All Skills{{/link-to}} | 
  {{#link-to 'skills'}}By Cohort{{/link-to}}
</div><br/>
  {{#link-to 'skills.new'}}Create Skill{{/link-to}}
</div>
