<div id="today-date">Today's Date: {{current-date}}</div>
<div class="text-center">
  {{#link-to 'skills.featured'}}Featured Skills{{/link-to}} |
  {{#link-to 'skills'}}All Skills{{/link-to}}
</div><br/>

{{outlet}}
