<div id="today-date">Today's Date: {{current-date}}</div>

<div class="col-md-12 text-center">
    {{#link-to 'all'}}All Skills{{/link-to}} |
    {{#link-to 'featured'}}Featured Skills{{/link-to}}
</div>

<div class="col-md-12">
  {{outlet}}
</div>
