<div id="today-date">Today's Date: {{current-date}}</div>
<div id='todays-classes'>Today's Classes for (Cohort)</div>

<div class="col-md-6">
  <ul id='class-list'>
    {{!-- This will be generated based on what is returned from rails api call --}}
    <li>  {{#link-to 'class'}} Class 1 at 9:00 AM with (Instructor) in (Classroom)</li>{{/link-to}}
    <li> Class 2 at 11:00 AM with (Instructor) in (Classroom)</li>
  </ul>
</div>

<div class="col-md-6">
  {{outlet}}
</div>
